html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

div.horizontal {
    display: flex;
    justify-content: center;
}

div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.background {
    background-color: #cff;
    width: 100%;
    height: 100%;
}

.bottom {
  position: absolute;
}

a {
  animation: spin 20s infinite;
}


@keyframes spin {
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}